.section-promo {
    display: flex;
    padding: 0;
    background-color: var(--bg-color-fourth);
    --container-width: 99rem;
    --container-padding: 1.25rem;
    --bullet-active-width: 1.8125rem;
}

.section-promo__picture, .section-promo__content {
    display: flex;
    width: 50%;
}

.section-promo__content {
    justify-content: flex-end;
    position: relative;
    z-index: 2;
    align-items: center;
}

.section-promo__picture-img {
   object-fit: cover;
   width: 100%;
   height: 100%;
}

.section-promo__picture-wrapper {
    width: calc(100% + 8.125rem);
    margin-left: -8.125rem;
}

.section-promo__content-wrapper {
    width: calc(var(--container-width)/2);
    padding-right: 8.125rem;
    padding-left: 1.25rem;
}

.section-promo__title {
    display: block;
    max-width: 28.6875rem;
}

.section-promo__text {
    display: block;
    max-width: 29.3125rem;
    margin-top: 1.375rem;
}

.section-promo__button {
    margin-top: 3.75rem;
}

.section-promo__slider {
    width: 100%;
    height: 100%; 
}

.section-promo__bullets {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 4.75rem;
    right: 11.6875rem;
    z-index: 2;
}

.section-promo__bullet {
    font-size: 1.125rem;
    color: var(--text-color-primary-inverted-alpha);
    font-weight: 700;
    line-height: 2.8em;
    letter-spacing: 0.02em;
    cursor: pointer; 
}

.section-promo__bullet::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 9px;
    background: var(--text-color-primary-inverted-alpha);
    transform: translate(8px, 1.4em);
}

.section-promo__bullet--active {
    color: var(--text-color-primary-inverted);
}

.section-promo__bullet--active::after {
    width: 1.8125rem;
    background: var(--text-color-primary-inverted);
}

@media (max-width: 1023.9px) {
    .section-promo {
        padding-top: 5rem;
        flex-direction: column;
    }

    .section-promo__picture, .section-promo__content {
        width: 100%;
    }

    .section-promo__content {
        padding-bottom: 1.25rem;
    }

    .section-promo__content-wrapper {
        width: 100%;
        padding-right: 1.25rem;
    }

    .section-promo__title, .section-promo__text {
        max-width: 100%;
    }

    .section-promo__button {
        display: flex;
        justify-content: end;
        margin-top: 0.9375rem;
    }

    .section-promo__bullets {
        right: calc(var(--container-padding) + var(--bullet-active-width) + 8px);
    }
}